.page1{
    background-color: rgba(243, 0, 194, 0.242)
}
.head1{

    background-color: blue;
    color: azure;
    border: dashed;
    border-color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.head2{

    background-color: rgb(170, 255, 0);
    color: rgb(34, 40, 40);
    border: dashed;
    border-color: rgb(218, 17, 17);
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
}

input{
    background-color: black;
    color: white;
}